<app-header-breadcrumb></app-header-breadcrumb>
<p-panel header="Trust Details">


    <b>Trust Info :</b>
    <pre id="json"></pre>
    {{department}}
<!-- <div class="butoon">
    <button pButton type="button" label="Submit" class="ui-button-success prime-button" (click)="" ></button>
</div> -->
<br>
<p [ngClass]="{invisible: visibility}">
  <button pButton type="button" label="Doc" class="ui-button-success prime-button" (click)="docOpen()" ></button>

</p>


<p><br>
  <b>Your comment</b>
  <input type="text" [formControl]="text">
</p>
  <p-footer>
    <button pButton type="button" label="Submit" class="ui-button-success prime-button" (click)="submit()" ></button>
    <button pButton type="button" label="Rejected" class="ui-button-warning prime-button" (click)="reject()"></button>
    <button pButton type="button" label="Back" class="ui-button-secondary prime-button" (click)="back()"></button>
  </p-footer>
</p-panel>
